main {
  /* grid-template-columns: 1fr 1fr; */
  display: flex;
  flex-direction: column;
  > div {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    > * {
      flex: 1;
    }
  }
}
.section--header {
  grid-column: span 2;

  border-bottom: var(--border);
}

.category--form {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  > div {
    /* flex: 1; */
  }
}
form,
.category--form {
  /* grid-template-columns: 1fr; */
  height: fit-content;
  color: var(--color-white);
  .form--title {
    grid-column: span 2;
  }
  > div:not(.category--form) {
    display: flex;
    flex-direction: column;
    min-width: 220px;
    gap: 8px;
  }
  label {
    color: var(--color-white);
  }
  input {
    background-color: var(--color-light-gray);
    color: var(--color-dark);
    border: 2px solid transparent;
    transition: 100ms border-color;
  }
  input:user-invalid {
    border: 2px solid var(--color-red);
  }
}
.img--upload {
  padding: 25px;
  height: fit-content;
  border-radius: 10px;
  background-color: var(--color-dark-gray);
  h2 {
    margin-bottom: 20px;
  }
  > *:not(h2) {
    display: flex;
    /* height: 270px; */
    gap: 15px;
    flex-wrap: wrap;
    > * {
      flex: 1;
      max-width: 210px;
      height: 270px;
    }
    img {
      object-fit: contain;
      object-position: center;
      border: var(--border);
      border-radius: 5px;
      border-color: var(--color-light-gray);
      background-color: var(--color-light-gray);
    }
  }
  .upload--btn {
    position: relative;
    input {
      position: absolute;
      inset: 0;
      opacity: 0;
    }
    label {
      position: relative;
      height: 100%;
      width: 100%;
      display: inline-block;
      display: grid;
      place-items: center;
      font-size: 35px;
      border: var(--border);
      border-radius: 5px;
      border-color: var(--color-light-gray);
      cursor: pointer;
    }
  }
}
.dropdown--container {
  max-width: none;
  .curr--value {
    background-color: var(--color-light-gray);
    color: var(--color-dark);
    span {
      color: var(--color-dark);
    }
  }
  .dropdown--arrow {
    color: var(--color-dark);
  }
}
.cspan2 {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: flex-end;
  grid-column: span 2;
  .add--btn {
    width: fit-content;
    padding: 12px 50px;
    color: #fff;
    cursor: pointer;
  }
}
