/* Global Style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-dark-gray: #1e2025; /* Dark gray shade */
  --color-red: #f22e52; /* Bright red */
  --color-dark: #101217; /* Very dark shade */
  --color-blue: #0583f2; /* Bright blue */
  --color-green: #1edf71; /* Green shade */
  --color-orange: #f27d16; /* Bright orange */
  --color-white: #fff; /* Pure white */
  --color-light-gray: #d1d0d0; /* Light gray */
  --border: 1px solid #2c2e33;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  outline: none;
  border: none;
  background-color: transparent;
}
i {
  font-size: inherit;
  color: inherit;
}
ul {
  list-style: none;
}
h1 {
}
button:focus {
  outline: 1px solid #277072;
}
.pb15 {
  padding-bottom: 15px;
}
body {
  font-family: "Albert Sans", sans-serif;
}
section {
  margin-bottom: 85px;
}
.container {
  /* width: min(1500px, 95vw); */
  padding-inline: 10px;
  margin: 0 auto;
}
/* Start Nav Styleing */

.overlay {
  position: fixed;
  display: none;
  inset: 0;
  z-index: 1000;
  align-items: center;
  justify-content: center;
}
.overlay.active {
  display: flex !important;
  animation: overlayShow 0.7s forwards;
}
.overlay.active > * {
  transition: display 0.25s, opacity 0.25s, transform 0.25s;
  transition-behavior: allow-discrete;
}
.overlay.active--nav {
  z-index: 998;
}
.overlay.active > .active {
  animation: smoothEnter 500ms forwards;
}
.overlay.active > :not(.active) {
  display: none;
}

@keyframes smoothEnter {
  from {
    display: none;
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    display: flex;
    transform: translateX(0);
    opacity: 1;
  }
}
.overlay > .closing {
  animation: smoothOut 400ms forwards;
}
@keyframes smoothOut {
  from {
    display: flex;
    transform: translateX(0);
    opacity: 1;
  }
  to {
    display: none;
    transform: translateX(50%);
    opacity: 0;
  }
}
@keyframes overlayShow {
  100% {
    background-color: #00000069;
  }
}
body:has(.overlay.active) {
  /* overflow: hidden; */
}

fieldset {
  border: none;
}
/* ------------------ */
.apexcharts-canvas {
  margin: 0;
  padding: 0;
}

.apexcharts-legend {
  display: none; /* Hide legend if you don't want it */
}

.apexcharts-xaxis,
.apexcharts-yaxis {
}

.apexcharts-gridlines {
  display: none; /* Remove gridlines */
}
.apexcharts-xaxistooltip-bottom {
  display: none;
}
.apexcharts-yaxistooltip-bottom {
  display: none;
}
.apexcharts-datalabels-group {
  display: none;
}
.chart {
  width: calc(100% + 20px) !important;
  transform: translate(-10px, 29px);
  /* height: 200px; */
  position: absolute;
  overflow: hidden;
  bottom: 0;
  left: 0;
}
.apexcharts-canvas {
  top: 0; /* Start drawing at the top */
  /* Stretch the drawing area to the full height of the container */
}
