.table {
  .quantity--num,
  .sells--num,
  .price {
    flex: 0 calc(30px + 8ch) !important;
  }
}
.product--id {
  font-size: 21px;
  font-weight: 600;
}
.product--overview {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}
.product--imgs {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 250px 80px;
  justify-items: center;
  align-items: center;
  /* height: 500px; */
  display: grid;
  gap: 10px;
}
.item-detail-view .price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product--imgs img {
  background-color: #282c33;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  aspect-ratio: 1;
  object-position: center;
}
.product--imgs img:not(.active--img) {
  cursor: pointer;
}
img.active--img {
  /* background-color: #eee; */
  grid-column: span 4;
}
.overlay {
  position: fixed;
  height: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.56);
  /* display: inline; */
}

.controllers {
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}
.controllers button {
  /* width: fit-content; */
  /* padding: 5px 10px; */
  width: auto;
  aspect-ratio: auto;
  padding: 10px;
  font-size: 16px;
}
button.add--btn {
  background-color: var(--color-green);
  width: auto;
  aspect-ratio: auto;
  padding: 10px;
  font-size: 16px;
}
