################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GitHubPro/FileContentIndex/2c6f35d6-9fa2-4db0-8c68-d7092a70fb94.vsidx
