################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GitHubPro/FileContentIndex/2c6f35d6-9fa2-4db0-8c68-d7092a70fb94.vsidx
/.vs/GitHubPro/FileContentIndex/4160a100-27b2-4747-b96d-526ec8b0a7d7.vsidx
