* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 15vh;
}
@font-face {
    font-family: "Arial Rounded MT Bold" ;
    src: url(../font1/arialroundedmtbold.ttf);
}


:root{
    --font1: "Arial Rounded MT Bold" ;
    --font2: sans-serif ;
    --color1: #30B6B9 ;
    --color2: #fff ;
    --color3: #000 ;
    --color4:#2F8587;
    --shadow1: 0 4px 4px #00000040 ;
    --shadow2: 0 4px 4px #000 ;
}
body {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(114.8deg, #323841 4.8%, #21252B 95.2%);
    height: auto;
}

.form{
    width: 60%;
    height: 80vh;
    margin-block: 15vh 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    border-radius: 40px;
    box-shadow: var(--shadow2);
    background-color: #2A989B;
    position: relative;
    overflow: hidden;
    transition: all 1s ease;
    transform: scale(.5);
    opacity: 0;
    animation-name: clipy;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: .3s;
    position: relative;
    gap: 3vh;
}
@keyframes clipy {
    from{
        opacity: 0;
        transform: scale(.5);

    }
    to{
        opacity: 1;
    transform: scale(1);

    }
}

.form .banner{
    width: 40%;
    height: 100%;
    padding-inline: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 40px;
    transition: 1s;
    background-color: transparent;
    order: 1;
    z-index: 1;

}
.form .banner p{
    font-size: 25px;
    color: var(--color2);
    font-family: var(--font1);
    position: relative;
    text-transform: capitalize;
    width: 100%;
    text-align: center;
    line-height: 38px;
}
.form .banner p::before{
    content: '';
    position: absolute;
    background-color:  #FFFFFF3B;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    top: -7%;
    left: 17%;
}
.form .banner p::after{
    content: '';
    position: absolute;
    background-color:  #FFFFFF3B;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 64%;
    left: 70%;
}
.form .banner .robot{
    height: 50%;
    width: 100%;
    padding-left: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.form .banner .robot span{
    position: absolute;
    transform: translate(-50%,-50%);
    background: #FFFFFF3B;
    border-radius: 50%;
    box-shadow: var(--shadow1);
    z-index: -1;
}
.form .banner .robot span:nth-child(1){
    width: 10px;
    height: 10px;
    top: 29%;
    left: 43%;
}
.form .banner .robot span:nth-child(2){
    width: 15px;
    height: 15px;
    top: 25%;
    left: 39%;
}
.form .banner .robot span:nth-child(3){
    width: 20px;
    height: 20px;
    top: 20%;
    left: 34%;
}
.form .banner .robot span:nth-child(4){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 40px;
    text-transform: capitalize;
    font-size: 15px;
    font-family: var(--font1);
    color: var(--color2);
    top: 12%;
    left: 16%;
}
.form .banner .robot img{
    height: 80%;
    filter: drop-shadow( var(--shadow1));

}
.form .banner button{
    padding: 10px 60px;
    text-transform: capitalize;
    color: var(--color2);
    font-family: var(--font1);
    font-size: 22px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #DEDCDCC7;
    border-radius: 40px;
    box-shadow: var(--shadow1),
                var(--shadow1);
    cursor: pointer;
    transition: 1s;

}



/* ---------------------- */
/* ---------------------- */
/* ---------------------- */
/* ---------------------- */

.form .login{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    transition: 1s;
}
.form .login p{
    color: var(--color2);
    text-transform: capitalize;
    font-family: var(--font1);
    font-size: 25px;
}
.form .login .accs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.form .login .accs i{
    width: 30px;
    height: 30px;
    color: var(--color2);
    background-color: var(--color4);
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.form .login > span{
    font-size: 15px;
    color: var(--color2);
    text-transform: lowercase;
    font-family: var(--font2);
}
.form .login form{
    height: 45%;
    /* height: 22%; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.form .login form > .input{
    width: 70%;
    height: 40px;
    position: relative;
}

.form .login form > .input input{
    width: 100%;
    height: 39px;
    border-radius: 15px;
    background-color: #5159664A;
    border: 1px solid transparent;
    padding: 20px;
    color: #DEDCDCC7;
    box-shadow: 0 4px 4px #00000040;
    transition: .3s;
}
.form .login form > .input span{
    position: absolute;
    bottom: -60%;
    left: 10px;
    color: red;
    font-size: 14px;
    text-transform: capitalize;
    font-family: var(--font2);
    display: none;
}

.form .login form > .input input:focus,
.form .login form >  .pass input:focus{
    outline: none;
    border: 1px solid var(--color1);
}
.form .login form > .pass {
    position: relative;
}
.form .login form > .pass input{
    width: 100%;
    height: 100%;
    border: none;
    padding: 0 0 0 10px;
    border-radius: 15px;
    color: #DEDCDCC7;
    border: 1px solid transparent;
    transition: .3s;
}
.form .login form >  .pass i{
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(-50%,-50%);
    color: var(--color1);
    font-size: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.form .login form >  .pass .nosee{
    display: none;
}
.form .login .forget{
    color: var(--color1);
    text-decoration: none ;
    font-family: var(--font1);
    text-shadow: 0px 4px 4px  #00000040;
    font-size: 14px;
    position: relative;
    cursor: pointer;
}
    .form .login .forget::after{
        content: '';
        position: absolute;
        bottom: -50%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color:  #00000052;
        box-shadow: 0px 4px 4px 0px #00000040;
    }

    .form .login .send{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form .login .send .submit{
        padding: 10px 90px;
        text-transform: capitalize;
        color: var(--color2);
        background-color: var(--color4);
        box-shadow: var(--shadow1);
        font-size: 16px;
        font-family: var(--font1);
        border-radius: 15px;
        border: none;
        cursor: pointer;
    } 



    .form .login .last{
        padding-left: 4%;
        width: 100%;
        height: auto;
        display: flex;
        /* justify-content: center; */
        align-items: center;
        /* background-color: rebeccapurple; */
        /* flex-direction: column; */
    }
    .form .login .last .input{
        width: 50%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 50%;
        position: relative;
    }
    .form .login .last .input label{
        color: var(--color1);
        text-decoration: none ;
        font-family: var(--font1);
        text-shadow: 0px 4px 4px  #00000040;
        font-size: 14px;
        text-transform: capitalize;
    }
    .form .login .last .input input{
        box-shadow: 0;
        accent-color: var(--color1);
    }
    .form .login .last .input::after{
        content: '';
        position: absolute;
        bottom: -50%;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        height: 1px;
        background-color:  #00000052;
        box-shadow: 0px 4px 4px 0px #00000040;
    }
/* ---------------------- */
/* ---------------------- */
/* ---------------------- */
/* ---------------------- */
.form .sign,
.form .login{
    width: 60%;
    background: linear-gradient(108.69deg, #21252B 3.09%, #323841 50%, #21252B 96.91%);
    height: 100%;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    z-index: 2;
    display: flex ;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding-block: 2% 2%;
    padding-inline: 5%;
    transition: 1s;
    order: 2;
}
.form .sign > p{
    color: var(--color1);
    text-transform: capitalize;
    font-size: 25px;
    font-family: var(--font1);
    text-shadow: var(--shadow1);
    width: 100%;
    text-align: left;
}
.form .sign form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 70%;
}
.form .sign form .input{
    width: 47%;
    height: 39px;
    position: relative;
}
.form .sign form .input span{
    position: absolute;
    bottom: -60%;
    left: 10px;
    color: red;
    width: 100%;
    font-size: 13px;
    text-transform: capitalize;
    font-family: var(--font2);
    display: none;
}
.form .sign form > .input input,
.form .sign form >  .pass{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #5159664A;
    border: 1px solid transparent;
    padding: 20px;
    color: #DEDCDCC7;
    box-shadow: 0 4px 4px #00000040;
    transition: .3s;
}

.form .sign form > .input input:focus,
.form .sign form >  .pass input:focus{
    outline: none;
    border: 1px solid var(--color1);
}
.form .sign form > .input:nth-child(5),
.form .sign form > .pass{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form .sign form > .pass{
    padding: 0;
    position: relative;
    height: 39px;

}
.form .sign form > .pass input{
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    padding: 0 0 0 10px;
    color: #DEDCDCC7;
    border: 1px solid transparent;
    transition: .3s;
}
.form .sign form >  .pass i{
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(-50%,-50%);
    color: var(--color1);
    font-size: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.form .sign form >  .pass .nosee{
    display: none;
}
.form .sign form > .terms{
    padding-left: 17px;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 2%;
}
.form .sign form > .terms input{
    accent-color: var(--color1);
    cursor: pointer;
}
.form .sign form > .terms p{
    font-size: 14px;
    color: var(--color2);
    font-family: var(--font2);
}
.form .sign form > .terms p span{
    color: var(--color1);
}
.form .sign form .send{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form .sign form .send .submit{
    padding: 10px 90px;
    text-transform: capitalize;
    color: var(--color2);
    background-color: var(--color4);
    box-shadow: var(--shadow1);
    font-size: 16px;
    font-family: var(--font1);
    border-radius: 15px;
    border: none;
    cursor: pointer;
} 
.form .sign .seperate{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.form .sign .seperate span{
    background-color:  #00000052;
    width: 35%;
    height: 2px;
    box-shadow: var(--shadow1);
}
.form .sign .seperate p{
    color: #DEDCDC;
    font-size: 14px;
    text-shadow: var(--shadow1);
    font-family: var(--font2);
    text-transform: capitalize;
}
.form .sign .accs {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form .sign .accs i{
    background-color: var(--color4);
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
}




    /* ----------------------- */
    /* ----------------------- */
    /* ----------------------- */
    /* ----------------------- */
    /* --------active----------- */




.form.active .banner {
    transform: translateX(-150%);
}


.form.active .sign {
    transform: translateX(0%) ;
    display: flex;
    opacity: 1;
}
.form.active .login {
        transform: translateX(67%);
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}
.form .login{
    transform: translate(0);
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    
}
.form .sign{
    position: absolute;
    transform: translateX(-67%);
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }

/* ------------------- */
/* ----------------------- */
/* ----------------------- */
/* ----------------------- */
@media (max-width : 767px) {
    .form{
        width: 90%;
        height: auto;
        flex-direction: column;
    }
    .form .banner {
        width: 100%;
        justify-content: space-between;
        gap: 10px;
        padding-block: 20px;

    }
    .form .banner p {
        font-size: clamp(.5rem, 5vw, 2rem);
        line-height: 25px;
    }
    .form .banner .robot {
        height: 40vw;
    }
    .form .banner .robot img {
        height: 90%;
    }
    .form .banner button {
        padding: 1vw 8vw;
        font-size: clamp(.5rem, 5vw, 2rem);
    }
    .form .sign, .form .login {
        width: 100%;
        height: auto;
        gap: 25px;
        padding-block: 22px;
    }
    .form .login p {
        font-size: clamp(1rem, 6vw, 3rem);
    }
    .form .login .accs {
    width: 50vw;
    }
    .form .login .accs i {
        width: 8vw;
        height: 8vw;
        font-size: clamp(.5rem, 5vw, 2rem);
    }
    .form .login > span {
        font-size: clamp(.5rem, 4vw, 2rem);
    }
    .form .login form > .input {
        width: 100%;
    }
    .form .login .last {
        padding-left: 0;
        justify-content: space-between;
    }
    .form .login .forget {
        width: 50%;
        text-align: center;
    }
    .form .login .last .input label,
    .form .login .forget {
        font-size: clamp(.5rem, 3vw, 2rem);
    }

    .form .login .last .input::after {
    width: 75%;
    }
    .form .login .forget::after {
        left: 50%;
        transform: translateX(-50%);
        width: 95%;
    }
    .form .login .send .submit {
        padding: 2vw 20vw;
        font-size: clamp(1rem, 4vw, 2rem);
    }
    .form .login form {
        gap: 20px;
    }

    /* ----------------------- */
    /* --------active----------- */

    .form.active .banner {
        transform: translateY(150%);
        height: 50vh;
        margin-block: 15vh 15vh;
    }
    
    
    .form.active .sign {
        transform: translateY(0%) ;
        display: flex;
        opacity: 1;
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);

    }
    .form.active .login {
            transform: translateY(0%) translateX(0);
            clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
    .form .login{
        transform: translate(0);
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
        
    }
    .form .sign{
        position: absolute;
        transform: translateY(0%) translateX(0);

        /* transform: translateY(67%); */
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);

        }
/* ------------------- */
        .form .sign > p {
            color: var(--color1);
            text-transform: capitalize;
            font-size: clamp(1rem, 7vw, 3rem);
        }
        .form .sign form {
            gap: 30px 0px;
        }
        .form .sign form > .terms p {
            font-size: clamp(.5rem, 3vw, 2rem);
        }
        .form .sign form .send .submit {
            padding: 2vw 20vw;
            font-size: clamp(1rem, 4vw, 2rem);
        }
        .form .sign .seperate p {
            font-size: clamp(.5rem, 3vw, 2rem);
        }
        .form .sign .accs {
            width: 50vw;
            }
            .form .sign .accs i {
                width: 8vw;
                height: 8vw;
                font-size: clamp(.5rem, 5vw, 2rem);
            }



    /* .form .sign{
        display: none;
    } */
}